.header {
    color: white;
}

.services {
    color: #f1f1f1;
}

.contact {
    color:#f1f1f1
}


.description-showing {
  display: none;
}


{
  box-sizing: border-box;
}
  
body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}
    
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}
    
h3 {
  word-break: break-all;
  text-align: center;
}
    
.row {
  margin: 8px -16px;
}
    
/* Add padding BETWEEN each column*/
.row,
.row > .column {
  padding: 8px;
}
    
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}
  
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Content */
.content {
  background-color: white;
  padding: 10px;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  text-align: center;
  font-family: 'Andika New Basic', sans-serif;
  background-color: rgb(207, 182, 118);
}

.card {
  background-color: rgb(228, 219, 198);
  text-align: center;
}
  